.dogslist-row {
  display: flex;
  border-radius: 15px;
  border: #ddd solid 1px;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-right: 20px;
}

.dogslist-img {
  width: 300px;
  border-radius: 15px;
}

.dogslist-text {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.dogslist-icon {
  color: red;
  background: none;
  border: none;
}

.dogslist-icon:hover {
  cursor: pointer;
}
